<div class='text-center'>
  <div class="container">

    <div class="row">
      <div class = "col-md-4 col-md-offset-4">
          <h1><%= @cocktail.name %></h1>
        <!-- Display dose descriptions -->
          <ul class = "list-unstyled">
            <% @cocktail.doses.each do |dose| %>
              <li> <%= dose.description %>
              <%= dose.ingredient.name %>
              <%= link_to("Delete", dose_path(dose), method: :delete) %>
              </li>
            <% end %>
          </ul>

          <div>
          <ul class= "list-unstyled">
            <li>
            <p><button class = "btn btn-success"><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></button></p>
            <p><%= link_to "Go back to the list", cocktails_path %></p>
            </li>
          </ul>
          </div>
      </div>
    </div>

  </div>
</div>


